@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    color: #000;
    background-color: #ffffff;
}

[data-theme="dark"] body {
    background-color: #000000;
    color: #ffffff;
}

.container {
    @apply mx-auto px-4 max-w-screen-2xl;
}

.animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 4s ease infinite alternate;
    -moz-animation: animatedgradient 4s ease infinite alternate;
    animation: animatedgradient 4s ease infinite alternate;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.scroller {
    overflow-x: auto;

}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}


.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 80s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 160s;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.rainbow-5:hover{
    background-image:     linear-gradient(
            to right,
            #E7484F,
            #E7484F 16.65%,
            #F68B1D 16.65%,
            #F68B1D 33.3%,
            #FCED00 33.3%,
            #FCED00 49.95%,
            #009E4F 49.95%,
            #009E4F 66.6%,
            #00AAC3 66.6%,
            #00AAC3 83.25%,
            #732982 83.25%,
            #732982 100%,
            #E7484F 100%



    );
    animation:slidebg 2s linear infinite;
}


@keyframes slidebg {
    to {
        background-position:20vw;
    }
}

@keyframes is-active {
    0% {
        fill: auto;
    }
    5% {
        fill: white;
    }
    100% {
        fill: auto;
    }
}

#tanuki-logo {
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
}

.is-active {
    #tanuki-right-cheek {
        animation: is-active 2s infinite;
        animation-delay: 0;
    }
    #tanuki-right-eye {
        animation: is-active 2s infinite;
        animation-delay: .1s;
    }
    #tanuki-right-ear {
        animation: is-active 2s infinite;
        animation-delay: .1s;
    }
    #tanuki-nose {
        animation: is-active 2s infinite;
        animation-delay: .2s;
    }
    #tanuki-left-eye {
        animation: is-active 2s infinite;
        animation-delay: .3s;
    }
    #tanuki-left-ear {
        animation: is-active 2s infinite;
        animation-delay: .3s;
    }
    #tanuki-left-cheek {
        animation: is-active 2s infinite;
        animation-delay: .4s;
    }
}

/*btn2 hover*/
.btn2 span:first-child{
    transform: translateX(-101%);
    transition: transform .3s ease-in
}
.btn2:hover span{
    transform: translateX(0)
}

.two:hover span {
    width: 50%;
}

.c-pagination li[aria-current="page"] button{
    @apply text-white hover:bg-cyan-600 hover:text-white;
}

